
/*FOOTER*/


.social_list_link{
	padding: 0;
	margin: 0 0 0 0;
}



.footer{
	
	background: #111; 
	color: var(--clr-accent);
	text-align: center;
	padding: 2.5em 0;
	font-size: var(--fs-h3);
	margin: 0;
	padding: 0;

}


.footer a{ 
color:inherit; /*cor herdada de footer*/
text-decoration: none;

} 


/*email Adress*/
.footer_link{	
	font-weight: var(--fw-bold);
	
}


.footer_link:hover,
.social_list_link:hover{
	opcity: .7;
}

.footer_link:hover{
	text-decoration: underline;
	
}





.social_list{
	list-style: none; /*sem as bullets*/
	display: flex;
	justify-content: center;	
	padding: 0.2em 0 0.2em 0;
	margin: 0 0;
	
}

.social_list_item{
	margin: 0 0.5em;	
	padding: 0;
	/*width: 100%;*/
	
	/*height: 5%;
	width: 10%;*/
}






.footer_inline{
	height: 0;
	margin: 0;
	padding: 0;
}

.footer_inline::after{
	content = '';
	display: inline;
	margin: 1em;
	height: 100%;
	margin: 0.5em auto 1em;
	background: var(--clr-light);/* ou background:currentColor; se quisermos que seja igual a cor ja defenida nesta seccao*/
	opacity: 0.25;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons*/
.fa {
  font-size: 30px;
 width: 100%;
  height: 100%;
   margin: 0.1em 0.5em;
  justify-content: center;
  align:center;
  
  text-align: center;
  text-decoration: none;
 
  
  
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}














